<div class="card">
    <div style="margin: 1%; margin-bottom: 0%;">
      <div class="account">
        <div><button style="border: none;background-color: white;">
            <mat-icon style="color: #3f51b5;">account_circle</mat-icon>
          </button>
        </div>
        <div style="margin: 4%;">
          <span>{{tweet.username}}</span>
        </div>
        <div>
          <button *ngIf="editenable" (click)="edit(tweet.username,tweet.id)" style="border: none;
          background-color: white;margin-left: 97%;">
            <mat-icon style="color: #3f51b5;">save_as</mat-icon>
          </button>
          <button *ngIf="!editenable" (click)="enableEdit()" style="border: none;
          background-color: white;margin-left: 97%;">
            <mat-icon style="color: #3f51b5;">mode_edit</mat-icon>
          </button>
        </div>
      </div>
      <textarea *ngIf="!editenable" class="form-control" disabled>{{tweet.tweetMessage}}</textarea>
      <textarea *ngIf="editenable" class="form-control" [(ngModel)]="editMessage"
        placeholder="{{tweet.tweetMessage}}"></textarea>
      <div class="allTweet">
        <div><button style="border: none;background-color: white;" (click)="likeTweet(tweet.username,tweet.id)">
            <mat-icon style="color: #3f51b5;">thumb_up</mat-icon>{{tweet.likes}}
          </button>
        </div>
        <div>
          <button *ngIf="!replyenable" (click)="enableReply()" style="border: none;background-color: white;">
            <mat-icon style="color: #3f51b5;">reply</mat-icon>
          </button>
          <button *ngIf="replyenable" (click)="closeResponse()" style="border: none;background-color: white;">
            <mat-icon style="color: #3f51b5;">speaker_notes_off</mat-icon>
          </button>
        </div>
        <div>
          <button (click)="deleteTweet(tweet.username,tweet.id)" style="border: none;
          background-color: white;margin-left: 97%;">
            <mat-icon style="color: #3f51b5;">delete_forever</mat-icon>
          </button>
        </div>
      </div>
        <div *ngIf="replyenable" class="reply">
          <div><textarea class="form-control" [(ngModel)]="replyMessage" placeholder="Enter reply" maxlength="144"></textarea></div>
          <div>
            <button (click)="replyTweet(tweet.username,tweet.id)" style="border: none;
          background-color: white;margin-top: 65%;">
              <mat-icon style="color: #3f51b5;">send</mat-icon>
            </button>
          </div>
        </div>
        <div  *ngIf="replyenable">
        <div *ngFor="let reply of tweet.replies">
          <p class="form-control" style="margin-left: 2%;width: 85%;">{{reply}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="alertBox" *ngIf="likeRes">
    <div style="margin: 1%;color: white;">liked successfully!!</div>
    <div><button (click)="closeResponse()" style="border: none;
      background-color: lightgreen;">
        <mat-icon style="margin-top: 30%;
      color: white;">cancel_presentation</mat-icon>
      </button></div>
  </div>
  <div class="alertBox" *ngIf="editRes">
    <div style="margin: 1%;color: white;">Tweet edited successfully!!</div>
    <div><button (click)="closeResponse()" style="border: none;
        background-color: lightgreen;">
        <mat-icon style="margin-top: 30%;
        color: white;">cancel_presentation</mat-icon>
      </button></div>
  </div>
  <div class="alertBox" *ngIf="replyRes">
    <div style="margin: 1%;color: white;">Replied successfully!!</div>
    <div><button (click)="closeResponse()" style="border: none;
        background-color: lightgreen;">
        <mat-icon style="margin-top: 30%;
        color: white;">cancel_presentation</mat-icon>
      </button></div>
  </div>
  <div class="alertBox" *ngIf="deleteRes">
    <div style="margin: 1%;color: white;">Tweet deleted successfully!!</div>
    <div><button (click)="closeResponse()" style="border: none;
      background-color: lightgreen;">
        <mat-icon style="margin-top: 30%;
      color: white;">cancel_presentation</mat-icon>
      </button></div>
  </div><br>
