<div class="forgotPass">
  <h3 style="margin-left: 30%;">Forget Password</h3>
  <input type="text" class="form-control" required [(ngModel)]="username" placeholder="Enter user name"
    style="margin-left: 2%;"><br>
  <input type="password" class="form-control" required [(ngModel)]="newPassword" placeholder="Enter new password"
    style="margin-left: 2%;">
    <button mat-raised-button (click)="forgot()" color="primary">Reset Password</button>
    <div class="row px-3 mt-2 "> 
      <label class="mb-4 mt-2" style="margin-left: 35%;">
      <h5 class="mb-0 forgot text-sm"><a routerLink='/login' style="text-decoration: none;">Go to Login</a></h5>
      </label> 
   <div class="alertBox" *ngIf="result">
      <div style="margin-top: 5%;color: white;">password changed successfully!!</div>
      <div><button (click)="closeResponse()" style="border: none;
        background-color: lightgreen;">
          <mat-icon style="margin-top: 30%;
        color: white;">cancel_presentation</mat-icon>
        </button></div>
        
    </div>
</div>