.forgotPass{
    margin-left: 38%;
    margin-top: 10%;
    width: 25%;
}
button{
    margin-top: 4%;
    margin-left: 25%;
}
.alertBox{
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 90% 6%;
    column-gap: 1%;
}