<mat-card>
  <mat-card-content>
    <form id = "form" class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()" >
      <h2>Log In</h2>
      <div class="text-center">
        <p *ngIf="invalid" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Invalid <b> Credentials!</b>  </p>
        <p *ngIf="nullValueErrorMessage" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter both <b>username</b> and <b>Password</b>
        </p>
    </div>
      <mat-form-field>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="Enter username"
          required
        />
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
        type="password"
        class="form-control"
        type="password" 
        #password 
        name="password" 
				(keyup) ="passwordEmpty()"
        formControlName="password"
        placeholder="Password"
      />
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
      <br>
      <label class="mb-4 mt-2">
        <h5 class="mb-0 forgot text-sm" style="color:'#3f51b5';"><a routerLink="/forget" style="text-decoration: none;">Forget</a></h5>
        </label> 
    </form>
   
  </mat-card-content>
</mat-card>