<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center"  class="matclass" >
  <span>
    <button mat-button >{{title}}</button>
    
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/register" *ngIf="!isLoggedIn()">
      <mat-icon>person_add</mat-icon>
      Register
    </button>
    <button mat-button routerLink="/login" *ngIf="!isLoggedIn()">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button  (click)="logout()"  *ngIf="isLoggedIn()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <button mat-button  routerLink="/forget"  *ngIf="isLoggedIn()">
      <mat-icon>exit_to_app</mat-icon>
      Forget
    </button>
   
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  
  <button mat-menu-item routerLink="/login" >
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-menu-item  (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>

<router-outlet></router-outlet>

