.menu {
    background-color: #3f51b5;
}
.gridView{
    display: grid;
    grid-template-columns: 20% 70%;
    height: 100%;
}

.alertBox{
    background-color: lightgreen;
    width: 114%;
    display: grid;
    grid-template-columns: 90% 6%;
    column-gap: 1%;
}
.searchres{
    display: grid;
    grid-template-columns: 90% 6%;
    column-gap: 1%;
}
.gridRow{
    display: grid;
    grid-template-columns: 45% 45% 6%;
    column-gap: 1%;
}
.search{
    display: grid;
    grid-template-columns: 50% 45% ;
    column-gap: 1%;
}
.allTweet{
    display: grid;
    grid-template-columns: 6% 6% 85%;
    column-gap: 1%;
    margin-top: 0.5%;
}
.reply{
    display: grid;
    grid-template-columns: 90% 5%;
    column-gap: 1%;
   // box-shadow:0 4px 10px 0 white,0 4px 20px 0 white;
    margin: 1%;
}
.account{
    display: grid;
    grid-template-columns: 2% 10% 85%;
    column-gap: 1%;
    margin-top: 0.5%;
}
.card
{
    width: 114%;
    box-shadow:0 4px 10px 0 #3f51b5,0 4px 20px 0 #3f51b5;
}
ul {
    list-style-type: none;
    margin-top: 10%;
    color: white;
 }