<div class='gridView'>
  <div class='menu'>
    <ul>
      <li><button mat-icon-button (click)="getAllTweet()">
        <mat-icon style="margin-right: 30%;">loop</mat-icon>
        <u style="font-size: 150%;">Refresh</u>
      </button>
    </li><br>
      <li><button mat-icon-button (click)="getAllTweet()">
          <mat-icon style="margin-right: 30%;">view_list</mat-icon>
          <u style="font-size: 150%;">view all tweet</u>
        </button>
      </li><br>
      <li><button mat-icon-button (click)="postTweet()">
          <mat-icon style="margin-right: 30%;">post_add</mat-icon>
          <u style="font-size: 150%;">post tweet</u>
        </button>
      </li><br>
      <li><button mat-icon-button (click)="searchDialog()">
          <mat-icon style="margin-right: 30%;">person_search</mat-icon>
          <u style="font-size: 150%;">Search User</u>
        </button>
      </li><br>
      <li><button mat-icon-button (click)="searchTweetDialog()">
          <mat-icon style="margin-right: 30%;">content_paste_search</mat-icon>
          <u style="font-size: 150%;">Search tweet</u>
        </button>
      </li>

    </ul>
  </div>
  <div style="margin-left: 1%; margin-top:1%;">
    <div>
      <div class="search card" *ngIf="searchEnable" style="margin-bottom: 2%;">
        <div style="margin-top: 2%;margin-bottom: 2%;">
          <input type="text" class="form-control" id="searchName" required [(ngModel)]="searchname" name="searchName"
            placeholder="Enter user name to search" style="margin-left: 2%;">
        </div>
        <div style="margin-top: 4%;margin-bottom: 2%;">
          <button (click)="searchUser()" style="border: none;
        background-color: white;">
            <mat-icon style="color: #3f51b5;">search</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="searchRestlt" class="card" style="margin-bottom: 2%;">
        <div>
          <div class="searchres">
            <div>
              <p class="form-control" name="userNameSearch" style="margin-left: 1%;margin-top: 1%;
          width: 100%;">{{userNameSearch}}</p>
            </div>
            <div><button (click)="closeSearch()" style="border: none;
          background-color: white; float: right;">
                <mat-icon style="margin-top: 50%; color: #3f51b5;">cancel_presentation</mat-icon>
              </button></div>
          </div>
          <div class="search">
            <div>
              <p class="form-control" name="userNameSearch" style="margin-left: 2%;">{{firstNameSearch}}</p>
            </div>
            <div>
              <p class="form-control" name="userNameSearch" style="margin-left: 2%;">{{lastNameSearch}}</p>
            </div>
          </div>
          <div class="search">
            <div>
              <p class="form-control" name="userNameSearch" style="margin-left: 2%;">{{emailSearch}}</p>
            </div>
            <div>
              <p class="form-control" name="userNameSearch" style="margin-left: 2%;">{{contactNumderSearch}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="posttweet">
      <div class="card">
        <div>
          <textarea class="form-control" required [(ngModel)]="tweetRequest.tweetMessage"
            placeholder="Enter tweet message" style="margin-top: 1%;margin-left: 1%;
            width: 98%;" maxlength="144"></textarea><br>
          <div class="gridRow">
            <div>
              <input type="text" class="form-control" required [(ngModel)]="tweetRequest.username"
               placeholder="Enter user name" style="margin-left: 2%;"><br>
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Enter Tag" required
                [(ngModel)]="tweetRequest.tag" maxlength="50">
            </div>
            <div style="margin-left: 40%;margin-top: 10%;">
              <button (click)="save()" style="border: none;
              background-color: white;">
                <mat-icon style="color: #3f51b5;">send</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div><br>
    </div>
    <div class="alertBox" *ngIf="submitted">
      <div style="margin: 1%;color: white;">Tweet posted successfully!!</div>
      <div><button (click)="closeResponse()" style="border: none;
        background-color: lightgreen;">
          <mat-icon style="margin-top: 30%;
        color: white;">cancel_presentation</mat-icon>
        </button></div>
    </div>
    <div class="search card" *ngIf="searchTweetEnable" style="margin-bottom: 2%;">
      <div style="margin-top: 2%;margin-bottom: 2%;">
        <input type="text" class="form-control" required [(ngModel)]="searchname" name="searchName"
          placeholder="Enter user name to search tweet" style="margin-left: 2%;">
      </div>
      <div style="margin-top: 4%;margin-bottom: 2%;">
        <button (click)="searchTweet()" style="border: none;
      background-color: white;">
          <mat-icon style="color: #3f51b5;">search</mat-icon>
        </button>
      </div>
    </div>

    <div *ngFor="let tweet of allTweet">
      <app-show-tweets [tweet]="tweet"></app-show-tweets>
      <br>
    </div>
  </div>
</div>