
<mat-card>
  <form id = "register"
  class="form-signup"
  [formGroup]="signupForm"
  (ngSubmit)="registerUser()"
>
<h2>Register</h2>
<div class="text-center">
  <p *ngIf="passwordLength" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px"><b>password</b> should be greater than 6 and less than 12 characters </p>
  <p *ngIf="prePasswordCheck" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter <b>password</b> first</p>
  <p *ngIf="passwordValidation" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px"><b>Password</b> didn't matched</p>
  <p *ngIf="emailValid" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter Valid <b>Email</b> Id</p>
  <p *ngIf="emailNotAvailable" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Entered <b>Email</b> already taken!!</p>
  <p *ngIf="phoneValidation" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter Valid <b>PhoneNumber</b></p>
  <p *ngIf="phoneValidationIsNan" style="color: red; text-transform: capitalize;font-size: 14px;letter-spacing: 1px">Enter <b>numbers</b> only!</p>

</div>
  <mat-form-field>
    <input type="text" class="form-control" formControlName="username"  placeholder="Enter name"  required/>
  </mat-form-field>
  <mat-form-field>
    <input
          type="text"
          class="form-control"
          formControlName="firstName"
          placeholder="Enter First Name"
          required
        />
  </mat-form-field>
  <mat-form-field>
    <input
          type="text"
          class="form-control"
          formControlName="lastName"
          placeholder="Enter Last Name"
          required
        />
  </mat-form-field>
  <mat-form-field>
    <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter email"
          [ngClass]="{'warningOutline' : emailValid,'warningOutline1' : emailNotAvailable}"
          required
        />
  </mat-form-field>
  <mat-form-field>
    <input
          type="number"
          class="form-control"
          formControlName="contactNumber"
          placeholder="Enter Contact Number"
          size="20"
          required
          #contact
          (keyup) ="phoneNumberValidaton(contact)" [ngClass]="{'warningOutline' : phoneValidation}"
        />
  </mat-form-field>
  <mat-form-field>
    <input
          type="password"
          class="form-control" 
          formControlName="password"
          placeholder="Password"
          minlength="8"
          maxlength="20"
          #password
          (keyup)="checkPrePassword(password)"
          required
        />
  </mat-form-field>&nbsp;&nbsp;
  <button mat-raised-button class="button" type="submit" color="primary">Register</button>
  <div>
  <a routerLink="/login">Already Registered Go to Login</a>
</div>
</form>
</mat-card>
